<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create place</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form id="form" action="/admin/createPlace"
          method="post" th:action="@{/admin/createPlace}"
          enctype="multipart/form-data">
        <div>
            <label>Name</label> <br>
            <input type="text" name="name">
        </div>
        <div>
            <label>description</label> <br>
            <input type="text" name="description">
        </div>
        <div>
            <div class="form-group col-xs-6 has-warning">
                <label class="control-label">Ảnh</label> <br>
                <span class="btn btn-default btn-file">
                Chọn file<input type="file" name="images" multiple="multiple" id="file">
            </span>
                <div class="row">
                    <div class="col-md-12" id="review-image">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" id="btn-submit" value="Submit">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    const BASE_UTL = 'http://localhost:1998';
    $(document).ready(function () {
        $('input[type="file"]').change(function () {
            var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
            $('.imgAvatar').removeClass('hidden');
            readURL(this);
        });
    });

    function readURL(input) {
        var dvPreview = $("#review-image .row");
        dvPreview.html("");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
        $(input.files).each(function () {
            var file = $(this);
            if (regex.test(file[0].name.toLowerCase())) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    dvPreview.append(`<div class="col-md-4">
                                            <div class="form-group">
                                                <img src="${e.target.result}" class="thumbnail hidden imgAvatar mb-1" style="width: 100%; height: ;object-fit: cover;">
                                                <label>Tên ảnh</label>
                                                <input type="text" id="${e.timeStamp}" onchange="renameFile('${file[0].name}', this.value)"
                                                 class="form-control" name="nameFile" value="${file[0].name}">
                                            </div>
                                        </div>`);
                };
                reader.readAsDataURL(file[0]);
            } else {
                alert(file[0].name + " is not a valid image file.");
                dvPreview.html("");
                return false;
            }
        });
    }

    function renameFile(fileName, newName) {
        newName = newName.split(" ").join("-");
        var input = $('input[type="file"]');
        var files = input.prop("files");
        var dataTransfer = new DataTransfer();
        for (let i = 0; i < files.length; i++) {
            var file = files.item(i);
            if (file.name === fileName) {
                var newFile = new File([file], newName + '.png', {type: 'image/png'});
                dataTransfer.items.add(newFile);
                continue;
            }
            dataTransfer.items.add(file);
        }
        input.val('');
        input.prop("files", dataTransfer.files);
        readURL(document.getElementById('file'));
    }
</script>
</body>
</html>